<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>S_Registro</servlet-name>
        <servlet-class>Servlet.S_Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_CerrarSesion</servlet-name>
        <servlet-class>Servlet.S_CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_LogIn</servlet-name>
        <servlet-class>Servlet.S_LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_SubirVideo</servlet-name>
        <servlet-class>Servlet.S_SubirVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_Like</servlet-name>
        <servlet-class>Servlet.S_Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_Favoritos</servlet-name>
        <servlet-class>Servlet.S_Favoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ModificarVideo</servlet-name>
        <servlet-class>Servlet.S_ModificarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_EliminarVideo</servlet-name>
        <servlet-class>Servlet.S_EliminarVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ModificarUsuario</servlet-name>
        <servlet-class>Servlet.S_ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_EliminarUsuario</servlet-name>
        <servlet-class>Servlet.S_EliminarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_Registro</servlet-name>
        <url-pattern>/S_Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_CerrarSesion</servlet-name>
        <url-pattern>/S_CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_LogIn</servlet-name>
        <url-pattern>/S_LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_SubirVideo</servlet-name>
        <url-pattern>/S_SubirVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_Like</servlet-name>
        <url-pattern>/S_Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_Favoritos</servlet-name>
        <url-pattern>/S_Favoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ModificarVideo</servlet-name>
        <url-pattern>/S_ModificarVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_EliminarVideo</servlet-name>
        <url-pattern>/S_EliminarVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ModificarUsuario</servlet-name>
        <url-pattern>/S_ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_EliminarUsuario</servlet-name>
        <url-pattern>/S_EliminarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
